[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Björn Brauer (ZauberNerd)
[access "refs/for/refs/*"]
	read = group user/Björn Brauer (ZauberNerd)
	push = group user/Björn Brauer (ZauberNerd)
	label-Code-Review = -2..+2 group github/nerdlabs
	label-Code-Review = -2..+2 group user/Björn Brauer (ZauberNerd)
	label-Verified = -1..+1 group user/Björn Brauer (ZauberNerd)
	rebase = group user/Björn Brauer (ZauberNerd)
	removeReviewer = group user/Björn Brauer (ZauberNerd)
	submit = group user/Björn Brauer (ZauberNerd)
[access "refs/heads/*"]
	read = group user/Björn Brauer (ZauberNerd)
	create = group user/Björn Brauer (ZauberNerd)
	push = +force group user/Björn Brauer (ZauberNerd)
	pushMerge = group user/Björn Brauer (ZauberNerd)
[access "refs/tags/*"]
	push = +force group user/Björn Brauer (ZauberNerd)
	pushTag = group user/Björn Brauer (ZauberNerd)
	pushSignedTag = group user/Björn Brauer (ZauberNerd)
